{% load static %}

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P"/>
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
    <title>HYDE STUDIOS HELICOPTER GAME CLONE</title>

  </head>

  <body>

    <p id="notice"></p>

    <div id="container">

          <canvas id="my_canvas">
          </canvas>

                <div id = 'mini-container-one'>


                  <div id="mini-container-two">

                      <form action="" method=POST>

                          {% csrf_token %}

                          <input autocomplete="new-password" name='username' id='username' placeholder="USERNAME">
                          <br><br>
                          <input  autocomplete="new-password" type='password' name='password' id='password' placeholder="PASSWORD">
                          <br><br>
                          <button id = 'login'>LOGIN</button>

                      </form>


                      {% if not new_game %}

                              {%if not user_is_none and not password_is_none%}

                                      {%if created_new or correct_password %}
                                        <p id="notice-three">USER:{{current_user}} <br> HIGH SCORE:{{current_score}}</p>
                                        <p id='notice-three-value' hidden>{{current_score}}</p>
                                        <p id='notice-three-user' hidden>{{current_user}}</p>

                                      {%else %}
                                            <p id="notice-four">INCORRECT PASSWORD FOR USER:{{current_user}}</p>
                                      {% endif %}

                              {% else %}
                                <p id="notice-five">A USERNAME AND PASSWORD MUST BE ENTERED</p>
                              {% endif %}

                    {% endif %}


                  </div>

                  <button class = "unselectable" id="start">START</button>

                  <div id="mini-container-three">

                    <p>LEADERBOARD</p>

                      <table>
                      <thead>
                        <tr>

                          <th>USER</th>
                          <th>SCORE</th>

                        </tr>

                       </thead>

                       <tbody>
                         <tr>
                           <td id="user-1">{{all_members.0.1}}</td>
                           <td id="score-1">{{all_members.0.0}}</td>

                         </tr>

                         <tr>
                           <td id="user-2">{{all_members.1.1}}</td>
                           <td id="score-2">{{all_members.1.0}}</td>

                         </tr>

                         <tr>
                           <td id="user-3">{{all_members.2.1}}</td>
                           <td id="score-3">{{all_members.2.0}}</td>

                         </tr>

                         <tr>
                          <td id="user-4">{{all_members.3.1}}</td>
                           <td id="score-4">{{all_members.3.0}}</td>
                         </tr>

                         <tr>
                          <td id="user-5">{{all_members.4.1}}</td>
                          <td id="score-5">{{all_members.4.0}}</td>
                        </tr>



                      </tbody>
                    </table>


                  </div>





              </div>

        </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'myscript.js' %}"></script>

  </html>